---
layout: default
---
<a class="btn btn-sm btn-pill btn-annotation" style="float: right;" href="/browse/annotations.html">Annotations</a>
    <h1> {{ page.type }}</h1>
    <h2> 
      <a href="http://bioportal.bioontology.org/ontologies/{{ page.xref-dataSource }}?p=classes&conceptid=http://purl.obolibrary.org/obo/{{ page.xref-dataSource }}_{{page.xref-identifier}}"
        target="_blank">
        {{ page.value }} <font size="+1">({{ page.xref-dataSource }}:{{page.xref-identifier}})</font>
      </a>
    </h2>
    <p>{{ page.definition }}</p>
    <hr/><br/>
    {% assign sorted_figures = site.figures | sort: "year" | reverse %}
      <ul>
        {% for pw in sorted_figures %}
          {% assign annot-values= pw.annotations | where: "type", page.type | map: "parent" %}
          {% if annot-values contains page.value %}
              <li><a href="{{ pw.url }}">{{ pw.figtitle }} ({{ pw.year }}, <em>{{ pw.organisms.first }})</em></a></li>
          {% endif %}
        {% endfor %}
      </ul>
<br/><hr/>