---
layout: default
---
<a class="btn btn-sm btn-pill btn-organism" style="float: right;" href="/browse/organisms.html">Organisms</a>
<h1 id="title"> {{ page.title }}</h1>
    <p>This is an organism page.</p>
    <hr/><br/>
    {% assign sorted_figures = site.figures | sort: "year" | reverse %}
      <ul>
        {% for pw in sorted_figures %}
          {% if pw.organisms contains page.latin %}
              <li><a href="{{ pw.url }}">{{ pw.figtitle }} ({{ pw.year }})</a></li>
          {% endif %}
        {% endfor %}
      </ul>
<br/><hr/> 